.tabs {
  :global {
    .ant-tabs {
      margin-top: -18px;
      .ant-tabs-tab {
        height: 45px;
        line-height: 32px !important;
        div {
          display: flex;
          align-items: center;
          justify-content: space-around;
        }
        .anticon {
          margin-top: 3px;
        }
      }
      .ant-select-selector {
        border-radius: 6px !important;
        padding: 0 11px !important;
      }
      .anticon-plus {
        width: 40px;
        height: 30px;
        background-color: #f0f0f0;
        margin-top: 8px;
      }
      .ant-tabs-top-bar {
        margin: 0 0 10px 0;
        .ant-tabs-nav-container {
          max-width: 700px;
        }
      }
      .ant-tabs-tab {
        padding: 0px 16px !important;
        height: 35px;
        min-width: 100px;
      }
      .ant-tabs-tab-unclosable {
        text-align: center;
      }
    }
  }
}

.schema_tpl_selector {
  position: absolute;
  top: -42px;
  left: 75px;
  width: 256px;
  z-index: 10;
  .selectorBtn {
    border-radius: 6px;
    height: 25px;
    padding: 2px 15px;
  }
  .dropdown_list_wrapper {
    width: 245px;
    border: 1px solid #c3c6c9;
    border-bottom: 0px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    margin-top: 5px;
    overflow: hidden;
    .dropdown_list {
      max-height: 480px;
      overflow: auto;
      width: 270px;
    }
  }
  .custom_schema_selector {
    background-color: #ffffff;
    ul {
      padding-inline-start: 0px;
      border: none;
      margin-top: 0px;
      background-color: #ffffff;
      li {
        list-style: none;
        line-height: 40px;
        cursor: pointer;
        p {
          margin: 0px 0px 0px 20px;
          font-weight: 600;
        }
      }
    }
  }
  .create_custom_schema_button {
    width: 245px;
    border: 1px solid #c3c6c9;
    border-top: 0px;
    background-color: #ffffff;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    button {
      margin-left: 20px;
      margin-bottom: 20px;
      margin-top: 10px;
      border-radius: 6px;
      height: 40px;
    }
  }
  ul {
    margin-bottom: 0px;
    width: 241px;
    border-bottom: 1px solid #c3c6c9;
    padding-inline-start: 0px;
    background-color: #ffffff;
    li {
      list-style: none;
      line-height: 40px;
      cursor: pointer;
      p {
        margin: 0px 0px 0px 20px;
        font-weight: 600;
      }
    }
  }
  li:hover {
    background-color: #f0f0f0;
  }
}

.schema_editor_wrapper {
  position: relative;
  height: 100%;
  :global {
    .schema_tpl_manager {
      position: absolute;
      height: 100%;
      width: 100%;
      top: 0;
      background: white;
      overflow-y: auto;
      overflow-x: hidden;
    }
    .json_previwer {
      margin: -24px;
      max-height: 550px;
      overflow: hidden;
    }
    .ant-card-bordered {
      border: 0px !important;
      box-shadow: none !important;
      height: 400px;
    }
  }
}

.loading_icon {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -5%;
}
