.schema_form {
  position: relative;
  padding-top: 40px;
  > form {
    height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
    padding-right: 10px;
    padding-left: 10px;
  }
  :global {
    form > .ant-alert {
      display: none;
    }
    .array-item-list {
      > .ant-row > .ant-col > .form-group.field.field-object {
        margin-bottom: 30px;
        border-bottom: 1px solid #f4f1f1;
      }
      > .ant-row:last-child > .ant-col > .form-group.field.field-object {
        border-bottom: 0;
      }
    }
    .ant-form-item {
      margin-bottom: 10px;
    }
    .ant-form-item-label {
      padding: 2px 0 2px 0;

      > label {
        color: #818181;
        font-size: 12px;
      }
    }
    .ant-form-item-control-input {
      .ant-input {
        font-size: 12px;
      }
      .ant-select {
        font-size: 12px;
      }
    }
    button.ant-btn-dangerous {
      background-color: white;
      border: 0px;
      color: #ff4d4f;
      box-shadow: none;
      &:hover {
        background-color: white;
        color: #ff7875;
      }
    }
    button.ant-btn-default {
      border: 0px;
      background-color: white;
      :hover {
        background-color: white;
      }
    }
    button.ant-btn-primary {
      border-radius: 6px;
    }
  }

  button[type='submit'] {
    position: absolute;
    right: 0;
    top: 2px;
    background-color: #1890ff;
    border: #1890ff;
    border-radius: 6px;
    padding: 2px 20px;
    color: white;
  }
}
.draft_icon_bar {
  position: absolute;
  top: 2px;
  right: 110px;
  :global {
    button.ant-btn-link,
    button.ant-btn-link:active,
    button.ant-btn-link:hover,
    button.ant-btn-link:focus {
      border: 0;
      outline: 0;
      color: #595959;
    }
  }
}
.update_icon_bar {
  position: absolute;
  top: 2px;
  right: 100px;
  :global {
    button.ant-btn-link,
    button.ant-btn-link:active,
    button.ant-btn-link:hover,
    button.ant-btn-link:focus {
      border: 0;
      outline: 0;
      color: #595959;
    }
    button:active {
      color: #595959;
    }
  }
}
.display_icon_bar {
  position: absolute;
  top: 0;
  left: -5px;
  :global {
    button.ant-btn-link,
    button.ant-btn-link:active,
    button.ant-btn-link:hover,
    button.ant-btn-link:focus {
      border: 0;
      outline: 0;
      color: #595959;
    }
    button:active {
      color: #595959;
    }
  }
}
.display_form_wrapper {
  height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 10px;
  padding-left: 10px;

  :global {
    .display-form .display-form {
      border: 1px solid #f4f1f1;
      padding: 10px;
      margin: 10px 0;
      border-radius: 6px;
    }
    .display-form-lineitem {
      margin-bottom: 16px;
      font-size: 12px;
      > p {
        margin-left: 15px;
      }
      > div {
        margin-left: 15px;
        font-weight: 600;
      }
    }
    label {
      color: #818181;
      height: 28px;
      white-space: nowrap;
      font-size: 12px;
    }
    p {
      line-height: 28px;
      font-size: 12px;
      color: #595959;
      margin: 0;
      font-weight: 600;
    }
    span.tag-value {
      border: 1px solid #d9d9d9;
      padding: 4px 15px;
      border-radius: 4px;
      font-size: 12px;
      background-color: #f5f5f5;
      color: #595959;
      margin-right: 10px;
      white-space: nowrap;
      display: inline-block;
    }
  }
}

.form {
  :global {
    input,
    .ant-picker {
      border-radius: 6px;
    }
  }
}
