
.siteHeader {
    :global {
      .ant-popover-inner-content {
        padding: 0;
      }
      
    }
  }
  
  .file_panel {
    .ant-popover-placement-bottomRight {
      top: 146px !important
    }
  }

.badge {
  padding: 0px 26px 0 22px !important;
  position: relative !important;
  width: 60px !important;
  height: 50px !important;
  line-height: 48px !important;
  overflow: hidden !important;
  vertical-align: middle !important;
  :global {
    .anticon {
      vertical-align: middle;
    }
    .ant-badge-dot {
      top: 36px;
      right: 10px;
      height: 10px;
      width: 10px;
    }
  }
}