html {
  font-family: "Open Sans", sans-serif;
  background: #f0f2f5;
  min-height: 100vh;
  min-width: 100vw;
  position: relative;
  color: rgba(0, 0, 0, 0.8);
}

* {
  box-sizing: border-box;
}

.message {
  transform: translateX(-50%) translateY(-50%);
  position: absolute;
  left: 50%;
  top: 45%;
  text-align: center;
  background-color: white;
  padding: 30px;
  min-height: 350px;
  max-width: 650px;
  width: 90%;
}

.message-text {
  max-width: 440px;
  margin: 0 auto;
  z-index: 9;
  position: relative;
}

.crane {
  background-image: url("./assets/crane.png");
  width: 172px;
  height: 168px;
  display: inline-block;
  position: absolute;
  left: 15px;
  bottom: 20px;
}
.data1 {
  background-image: url("./assets/data1.png");
  width: 52px;
  height: 32px;
  display: inline-block;
  position: absolute;
  left: 20%;
  bottom: 20px;
  z-index: 2;
}

.data-star {
  background-image: url("./assets/data-star.png");
  width: 88px;
  height: 94px;
  display: inline-block;
  position: absolute;
  right: 30px;
  bottom: 20px;
  z-index: 2;
}

.logo {
  max-width: 150px;
  display: block;
  margin: 0 auto;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}
footer small {
  font-size: 11px;
}
.footer-wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

@media only screen and (min-width: 768px) {
  .message-text,
  .logo {
    padding-left: 30px;
  }

  .logo {
    max-width: 220px;
  }

  .message-text p {
    padding: 0 50px;
  }

  .f-right {
    float: right;
    line-height: 2.2;
  }

  footer {
    text-align: left;
  }
}
