@import '../../../../Styles/includeMedia.scss';
.filterWrapper {
  @include media('>999px') {
    display: flex;
    justify-content: space-between;
  }
}
.fieldGroup {
  margin-right: 12px;
  &:last-child {
    margin-right: 0;
  }
}

.formItem {
  @include media('>999px') {
    margin-bottom: 0 !important;
  }
}

.buttons {
  @include media('>999px') {
    padding-top: 30px;
  }
}
