.container {
  display: grid;
  grid-template-columns: 3fr 5fr;
  grid-template-rows: auto auto;
  column-gap: 30px;
  row-gap: 35px;
  margin: 15px 25px 0 25px;
  min-height: 500px;
  .info {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .tags {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .description {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
  }
}
