.file_explore_actions {
  :global {
    .ant-btn-link {
      color: rgba(0, 0, 0, 0.65);
    }
    .ant-btn-link:focus {
      color: rgba(0, 0, 0, 0.65);
    }
    .ant-btn-link:hover {
      color: #40a9ff;
    }
  }
}
.files_raw_table {
  :global {
    .ant-table-tbody > tr > td {
      background: none !important;
    }
    tr.manifest-attached {
      opacity: 0.6;
      > td {
        background-color: white !important;
      }
    }
  }
}
