$textSize: 12px;
$inputHeight: 36px;
$labelHeight: 36px;
$twoRowSeparate: 1400px;
.template_manager_header {
  background-color: #e6f5ff;
  margin: -5px -25px;
  padding: 6px 25px 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  :global {
    h3 {
      color: #1890ff;
      font-size: 14px;
      margin: 0;
      font-weight: bold;
    }
    .anticon-close {
      color: #a4a4a4;
    }
  }
}
.template_manager_actions {
  margin: 5px -25px 20px;
  position: relative;
  overflow: hidden;
  padding: 6px 25px 2px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  height: 40px;

  :global {
    button.create-mode {
      margin-right: 110px;
    }
    button.update-mode {
      margin-right: 210px;
    }
    .template-bar-title {
      color: #003262;
      font-size: 12px;
      line-height: 28px;
    }
    button.ant-btn-link,
    button.ant-btn-link:active,
    button.ant-btn-link:hover,
    button.ant-btn-link:focus {
      float: right;
      border: 0;
      font-size: 12px;
      outline: 0;
      color: #595959;
    }
  }
}
.template_manager_section {
  position: relative;
  :global {
    .ant-form {
      button[type='submit'] {
        position: absolute;
        top: 42px;
        right: 5px;
        border-radius: 8px;
        height: 26px;
        line-height: 16px;
      }
    }
  }
}

.form {
  display: grid;
  grid-template-columns: [line1] 120px [line2] 270px [line3] auto [line4] 40px [line5] 80px [end];
  column-gap: 20px;
  width: 100%;
  padding-bottom: 20px;
  @media screen and (max-width: 1730px) and (min-width: $twoRowSeparate) {
    grid-template-columns: [line1] 120px [line2] 120px [line3] auto [line4] 40px [line5] 80px [end];
  }

  :global {
    .ant-form-item {
      margin-bottom: 0px;

      label {
        color: #595959;
        font-size: $textSize;
        /* line-height: $labelHeight; */
        height: $labelHeight;
        margin-right: 1em;
      }
      .ant-select-selector {
        border: 1px solid #d9d9d9;
        border-radius: 6px;
        font-size: $textSize;
        input {
          padding: 0;
        }
      }
    }
  }
}
.confirm_modal {
  :global {
    .ant-modal-title {
      color: #003262;
      font-weight: bold;
    }
    .ant-modal-content {
      border-radius: 10px;
      overflow: hidden;
    }
    .ant-modal-footer {
      button {
        border-radius: 6px;
        padding: 4px 25px;
      }
    }
  }
}

.submit-button {
  position: relative;
  right: 0px !important;
}
