.formItem {
  padding-left: 16px !important;
  padding-right: 16px !important;
}

.range {
  padding-right: 20px !important;
}
.card {
  margin-bottom: 10px;
  background: white;
  padding: 20px !important;
  overflow: auto;
}

.buttonMargin {
  margin-right: 10px;
}

.wrapper {
  max-width: 1080px;
  width: 100%;
  margin: 0 auto !important;
}

.paragraph {
  max-width: calc(100% - 54px);
  font-size: 20px;
  margin-bottom: 4px;
  overflow-wrap: break-word;
}
