.bg {
  height: 100vh;
  width: 50vw;
  background-color: #537895 !important;
  background-image: linear-gradient(20deg, #365a8d 0%, #0a264d 100%);
}

.card {
  height: 90vh;
  width: 60vw;
  position: absolute !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-repeat: no-repeat !important;
  background-size: 50% !important;
  background-attachment: fixed;
  background-position: left bottom !important;

  box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.15);
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 60px 90px 0 rgba(0, 0, 0, 0.25);
}

.form {
  /*  background: wheat; */
}

.icon {
  padding-top: 20px;
  padding-bottom: 40px;
  height: 120px;
}

.login-form {
  max-width: 300px;
  margin: 0 auto !important;
}

.login-form-button {
  width: 100%;
}

.login-form-left {
  float: left;
}

.login-form-right {
  float: right;
}

.intro {
  color: white;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 60px 30px;

  .title {
    font-size: 30px;
    font-weight: 500;
  }

  .content {
    font-size: 16px;
    overflow: auto;
  }

  .btn {
    color: white !important;
    margin-top: 40px;
  }
}
