.announcement_card_wrap {
  :global {
    .ant-card {
      height: 100%;
      box-shadow: 0px 1px 9px #00000020;
      border-radius: 6px !important;
      letter-spacing: 0.4px;
      .ant-card-head {
        padding: 0 18px;
        color: #003262;
        font-size: 14px;
        font-weight: bold;
        .ant-card-head-title {
          padding: 10px 0;
        }
      }
      .ant-card-body {
        padding: 18px;
      }
    }
  }
}

.announcement_publish_form {
  :global {
    .ant-form-item-explain {
      text-align: right;
      font-size: 12px;
      font-style: italic;
    }
  }
}
.announcement_tabs {
  :global {
    .ant-tabs-bar {
      margin-bottom: 5px;
    }
    .ant-tabs-nav-wrap {
      padding: 8px 18px 0;
    }
  }
}
.announce_pagination {
  float: right;
  margin-right: 5px !important;
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}
.announce_item {
  padding: 18px !important;
  :global {
    .ant-list-item-meta-title {
      font-size: 14px;
      line-height: 16px;
      color: #707070;
      margin-bottom: 2px !important;
      white-space: pre-wrap !important;
    }
    .ant-list-item-meta-description {
      color: #a5b0b6;
      font-size: 14px;
      line-height: 14px;
      font-style: italic;
    }
  }
}
