@import '../../Styles/includeMedia.scss';

.container {
  max-width: 560px;
  margin: 30px auto;
}

.forgot {
  @include media('>576px') {
    float: right;
    display: inline;
  }
  display: block;
}
.title {
  text-align: center;
}
@keyframes pulse {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes pulse {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.pulse_item {
  animation: pulse 2s infinite;
}
.toggle {
  background-color: #1b9cd0;
  padding: 10px 5px;
  border-radius: 5px;
  color: white !important;
  position: fixed;
  margin-left: -40px;
  z-index: 9;
  top: 50vh;
  transform: translateY(-50%);
}

.content {
  padding: 20px 20px 20px 35px;
  margin-left: 0;
  transition: all 0.4s ease;
  min-height: 93vh !important;
}

.contentOpen {
  padding: 20px 20px 20px 35px;
  margin-left: 400px;
  transition: all 0.4s ease;
  min-height: 93vh !important;
}

.sider {
  overflow: auto;
  height: 100vh;
  position: fixed !important;
  left: 0;
  z-index: 10;
  box-shadow: 10px -5px 39px -24px rgba(0, 0, 0, 0.2);
  transition: all 0.4s !important;
}

.left-sider {
  font-weight: 800;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.85);
  padding: 30px 0px 0px 10px;
  margin-left: 10px;
}

.download_list {
  max-height: calc((100vh - 128px - 90px) / 2);
  overflow-y: scroll;
}

.copy_list {
  max-height: calc((100vh - 128px - 90px) / 2);
  overflow-y: scroll;
}
.tab {
  max-width: 300px;
  padding: 8px 16px !important;
}

.filePanel {
  padding: 10px;
}

//Files panel
.trigger {
  position: fixed !important;
  right: 23px;
  bottom: 10px;
  z-index: 10;
  &:hover,
  &:focus,
  &.active {
    background-color: #1890ff !important;
    color: #fff !important;
  }
}
.fileCollapse {
  position: fixed;
  right: -400px;
  bottom: 8px;
  min-width: 200px;
  max-width: 350px;
  visibility: hidden;
  transition: all 0.4s;
  z-index: 101;
  &.active {
    right: 90px;
    visibility: visible;
  }
}

.footer {
  padding: 20px 50px 10px !important;
  color: rgba(0, 0, 0, 0.5) !important;
  line-height: 1.5;
  text-align: center;
  @include media('>desktop') {
    text-align: right;
  }
}

.tou {
  padding-left: 5px !important;
  padding-top: 0 !important;
  // margin-top: -3px;
}

.menu {
  // display: block !important;
  @include media('>desktop') {
    float: left;
    // display: flex !important;
  }
}
.copyright {
  @include media('<=desktop') {
    display: block;
  }
}
