$headerHeight: 48px;

.card {
  height: 100%;
  width: 100%;
  box-shadow: 0px 1px 7px #0000001a;
  border-radius: 6px;
  position: relative;

  :global {
    .ant-card-head {
       height: 48px;
      .ant-card-head-title {
        padding: 12px 0;
        font-weight: bold;
        color: #003262;
        font-size: 14px;
      }
      .ant-card-extra {
        padding: (64px - $headerHeight)/2 0;
      }
    }
  }
}
