.panel_content_card {
  height: auto !important;
  :global {
    .ant-card-body {
      padding: 0px;
    }
  }
}

.panel_popover_content {
  width: 573px;
  :global {
    .ant-popover-inner-content {
      padding: 0px !important;
    }
  }
}

.tab {
  overflow: hidden;
  height: 256px;
  :global {
    .ant-tabs-content {
      height: 100%;
      overflow-y: auto !important;
    }
    .ant-list-empty-text {
      padding: 0;
    }
    .ant-tabs-tab {
      padding: 11px 24px !important;
      text-align: right !important;
    }
    .ant-tabs-bar {
      .ant-tabs-tab-active {
        background-color: #e6f5ff;
      }
    }
  }

  .tab-pane {
    padding-top: 11px;
    :global {
      .list-header {
        font-size: 14px;
        color: #595959;
        font-weight: 600;
      }
    }
  }
}

.clear-session-button {
  font-size: 14px;
  color: #595959;
  font-weight: normal;
}
