.upperMenu {
  :global {
    background-color: #003262 !important;
    position: fixed !important;
    top: 120px;
    width: 51px;
    max-width: 51px;
    min-width: 51px;
    margin-top: 22px;
    .ant-menu-item {
      left: -14px !important;

      .anticon {
        color: #f0f0f0 !important;
      }
      &.ant-menu-item-selected {
        background-color: transparent !important;
        .anticon {
          color: #ffffff !important;
        }
      }
    }
  }
}

.pageHeader {
  :global {
    .ant-page-header-heading {
      align-items: flex-start;
      margin-top: -7px;
    }
  }
}

/* .tab {
  background-color: #ffffff;
} */

.tab {
  :global {
    .ant-tabs-tab {
      margin: 0px 80px 0px 0px !important;
    }

    .ant-tabs-nav {
      margin-left: 26px;
    }

    .ant-table-wrapper {
      margin-top: 0px !important;
      padding: 0px 10px;
    }
  }
}

.ant-card-bordered {
  :global {
    .ant-card-body {
      padding: 5px 0px !important;
    }
  }
}

.ant-layout {
  margin-left: 0px !important;
}

.tablePanel {
  :global {
    .ant-collapse-content {
      .ant-collapse-content-box {
        padding: 0px !important;
      }
    }
  }
}

.red_dot {
  :global {
    .ant-badge {
      .ant-badge-status-error {
        left: 5px;
        height: 8px;
        width: 8px;
      }
    }
  }
}


.warning-modal {
  :global {
    .ant-modal-content {
      width: 480px !important;
      box-shadow: 0px 3px 6px #00000029 !important;
      border-radius: 6px !important;
      overflow: hidden !important;
      button {
        height: 30px;
        border-radius: 6px;
      }
    }
  }
}