.search_conditions {
  :global {
    .ant-select-selector {
      border-radius: 6px !important;
    }
    .ant-input {
      border-radius: 6px !important;
    }
    .ant-form-item {
      margin-bottom: 14px;
    }
    .ant-form-item-label {
      padding-bottom: 4px !important;
      padding-left: 6px !important;
      label {
        color: #595959 !important;
      }
    }
  }
}

@media (max-width: 575px) {
  .search_conditions {
    :global {
      .ant-form-item .ant-form-item-label,
      .ant-form-item .ant-form-item-control {
        flex: none !important;
      }
    }
  }
}

.search_result_table {
  z-index: 1;
  :global {
    .ant-table-content table{
      table-layout: fixed !important;
    }
    .ant-table-thead > tr > th {
      padding: 6px 16px !important;
    }
    .ant-table-tbody > tr > td {
      border-bottom: 0;
    }
    .ant-table-tbody > tr > td:not(.ant-table-selection-column) {
      padding: 8px 20px 8px 0px !important;
    }
    .ant-pagination {
      margin-right: 25px !important;
    }
    tbody.ant-table-tbody::before {
      content: '';
      display: block;
      height: 15px;
    }
    table tr th.ant-table-selection-column,
    table tr td.ant-table-selection-column {
      width: 50px;
      min-width: 20px;
      padding-left: 0;
      padding-right: 0;
    }
    table tr td.ant-table-selection-column {
      vertical-align: top;
      padding-top: 28px;
    }
  }
}
.search_result_actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  z-index: 2;
  position: absolute;
  left: 50px;
  :global {
    .ant-btn-link {
      color: rgba(0, 0, 0, 0.65);
    }
    .ant-btn-link:focus {
      color: rgba(0, 0, 0, 0.65);
    }
    .ant-btn-link:hover {
      color: #40a9ff;
    }
  }
}

.search_result_table {
  display: flex;
  :global {
    .ant-spin-nested-loading {
      width: 100%;
    }
  }
}

.search_collapse {
  width: 300px;
  z-index: 3;
  position: relative;
  min-height: 600px;
  :global {
    .ant-collapse {
      background-color: #fff;
      .ant-collapse-item {
        border-bottom: 1px solid rgb(241, 241, 241);
      }
    }
  }
}

.collapse {
  :global {
    .ant-collapse-header {
      padding: 8px 16px !important;
    }
    .ant-radio-group {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      min-height: 60px;
    }
    span {
      color: #595959;
      font-size: 14;
      font-weight: 600;
    }
  }
}

.set_collapse {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  height: 22px;
  border-bottom: 1px solid rgb(241, 241, 241);
  p {
    cursor: pointer;
  }
}

@media (max-width: 1700px) {
  .search_result_card {
    flex-direction: column;
  }

  .search_item_right {
    width: 100% !important;
    margin-top: 20px;
    margin-left: 3px;
    justify-content: flex-start !important;
    span {
      overflow: unset !important;
      text-overflow: unset !important;
    }
  }
}

@media (max-width: 1345px) {
  .search_item_header {
    flex-direction: column;
  }

  .search_result_card {
    :global {
      .file-name-val {
        font-weight: bold;
        font-size: 14px;
        text-overflow: unset !important;
        overflow: unset !important;
        white-space: unset !important;
        b {
          background-color: #ffd591;
          padding-left: 1px;
          padding-right: 1px;
        }
      }
    }
  }
}

.search_item_header {
  display: flex;
}

.search_item_right {
  width: 300px;
  overflow: hidden;
  display: flex;
  justify-content: flex-end;
  span {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.search_result_card {
  margin: 0;
  border-radius: 6px;
  box-shadow: 0px 1px 6px #0000001a;
  padding: 18px 20px;
  display: flex;
  &:hover {
    background-color: #f0f0f0;
  }
  :global {
    .file-name-row-lable {
      display: inline-block;
      width: 68px;
      white-space: nowrap;
      text-align: left;
      margin-right: 15px;
      font-size: 14px;
    }
    .folder-name-row-lable {
      display: inline-block;
      width: 90px;
      white-space: nowrap;
      text-align: left;
      margin-right: 15px;
      font-size: 14px;
    }
    .row-label {
      display: inline-block;
      width: 68px;
      white-space: nowrap;
      text-align: left;
      margin-right: 15px;
      font-size: 14px;
    }
    .row-label_FileAttribute {
      display: inline-block;
      width: 98px;
      white-space: nowrap;
      text-align: right;
      margin-right: 15px;
      font-size: 14px;
    }
    .time-label {
      display: inline-block;
      //width: 105px;
      white-space: nowrap;
      text-align: right;
      margin-right: 15px;
      //margin-left: 30px;
      font-size: 14px;
    }
    .uploader-label {
      display: inline-block;
      //width: 98px;
      white-space: nowrap;
      text-align: right;
      margin-right: 15px;
      //margin-left: 30px;
      font-size: 14px;
    }
    .size-label {
      display: inline-block;
      //width: 68px;
      white-space: nowrap;
      text-align: right;
      margin-right: 15px;
      //margin-left: 30px;
      font-size: 14px;
    }
    .file-name-val {
      font-weight: bold;
      font-size: 14px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      b {
        background-color: #ffd591;
        padding-left: 1px;
        padding-right: 1px;
      }
    }
    .manifest-row {
      margin-top: 8px;
      display: flex;
    }
    ul.manifest-val {
      list-style: none;
      display: flex;
      padding: 0;
      flex: 1;
      margin: 0;
      li {
        list-style: none;
        width: 20%;
        margin-right: 10px;
        h4 {
          margin: 0;
          font-weight: normal;
          font-size: 14px;
        }
        p {
          font-weight: bold;
          margin: 0;
          font-size: 14px;
          b {
            background-color: #ffd591;
            padding-left: 1px;
            padding-right: 1px;
          }
        }
      }
    }
    .tags-row {
      margin-top: 8px;
      margin-bottom: 3px;
      display: flex;
      .tags-val {
        flex: 1;
        .ant-tag {
          background-color: #f5f5f5;
        }
        .ant-tag.highlight {
          background-color: #ffd591;
        }
      }
    }
    .search-item-left {
      flex: 1;
      color: #595959;
      font-size: 14px;
    }

    .search-item-right {
      width: 160px;
      text-align: right;
      font-size: 14px;
      color: #595959;
    }
  }
}

.fileSize2 {
  :global {
    label {
      opacity: 0;
    }
  }
}

.right_search_part {
  display: flex;
  :global {
    .ant-divider {
      height: calc(100% - 35px);
      margin-top: 35px;
      position: absolute;
    }
  }
}

.dataset_modal {
  :global {
    .ant-modal-content {
      width: 385px;
      height: 205px;
      border-radius: 6px;
      box-shadow: 0px 1px 7px #0000001A;
    }
    .ant-modal-title {
      margin-top: -10px;
    }
    .ant-modal-body {
      height: 120px;
    }
    .ant-modal-close {
      margin-top: -10px;
    }
    .ant-modal-header {
      height: 35px;
      border-radius: 6px;
    }
  }
}

.search_dataset {
  width: 100%;
  :global {
    .ant-select-selector {
      border-radius: 6px !important;
    }
  }
}
