.react-grid-item.react-grid-placeholder {
  background: #91d5ff;
  opacity: 0.2;
  transition-duration: 100ms;
  z-index: 2;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.react-resizable-handle {
  bottom: 5px !important;
  right: 5px !important;
}
