.tab {
  :global {
    .ant-tabs {
      background-color: #ffffff;
      border-radius: 6px;
      padding-bottom: 50px;
      margin: 25px 50px 0 50px;
    }
    .ant-tabs-nav-container {
      padding: 0px 24px;
    }
    .ant-tabs-nav-container {
      .ant-tabs-tab {
        margin: 0px 80px 0px 0px !important;
      }
    }
  }
}
