.top {
  display: flex;
  justify-content: space-between;
  .button {
    width: 151px;
    height: 35px;
    border-radius: 6px;
  }

  .description {
    font-size: 14px;
    color: #595959;
  }
  .annotation {
    font-size: 12px;
    color: #595959;
    font-style: italic;
  }
  :global {
    .ant-upload-list-item-name {
      max-width: 200px;
      text-overflow: ellipsis;
    }
  }
}

.upload_schema_modal {
  width: 600px;
  height: 484px;
  :global {
    .ant-modal-header {
      height: 40px;
      padding: 10px 24px;
      border-radius: 6px;
    }
    .ant-modal-close-x {
      margin-top: -7px;
    }
    /*  .ant-modal-footer {
        height: 45px;
        padding: 5px 16px;
      } */
    .ant-modal-content {
      border-radius: 6px;
    }
    /* .ant-modal-body{
          padding: 10px 24px 24px 24px;
      } */
  }
  .footer_cancel_btn {
    border: 0px;
    font-weight: 600;
  }
  .footer_upload_btn {
    border-radius: 6px;
    width: 106px;
    height: 30px;
    padding: 0px;
    margin: 5px;
  }
}


