.card {
  :global {
    .ant-card {
      box-shadow: 0px 1px 7px #0000001a;
      border-radius: 6px;
      margin: 0 30px;
    }
    .ant-card-body {
      position: relative;
    }
  }
  .button-group {
    position: absolute;
    right: 0px;
    top: -55px;
    :global {
      .ant-btn-primary {
        border-radius: 6px;
      }
    }
  }
  .form {
    :global {
      h2 {
        font-size: 21px;
        font-weight: 600;
        letter-spacing: 0px;
        color: #003262;
        margin-left: 35px;
      }

      .ant-select-selector {
        border: 1px solid #d4d4d4;
        border-radius: 6px;
      }
      .ant-form-item {
        .ant-form-item-control {
          .ant-form-item-control-input {
            .ant-form-item-control-input-content {
              display: flex;
              align-items: center;
              .anticon {
                margin-right: 5px;
              }
            }
          }
        }
      }
    }
    .input {
      border: 1px solid #d4d4d4;
      border-radius: 6px;
      overflow: hidden;
    }
    .select {
      border-radius: 6px;
    }
    .spacing {
      height: 50px;
    }
    .collection-method {
      div:first-child {
        overflow: visible;
        label {
          span {
            position: relative;
            bottom: 8px;
          }
        }
      }
    }
  }

  .tooltip{
    margin-left: 10px;
    margin-right: -3px;
  }
}

.description_form_item {
  :global {
    .ant-form-item-label {
      .ant-form-item-required {
        p {
          margin-bottom: 0px;
          margin-top: 15px;
        }
        &::before {
          margin-top: 15px;
        }
      }
    }
  }
}

@media(min-width: 1432px){
  .description_form_item {
    :global {
      .ant-form-item-label {
        .ant-form-item-required {
          p {
            br {
              display: none;
            }
          }
        }
      }
    }
  }
}

@media(max-width: 575px) {
  .description_form_item {
    :global {
      .ant-form-item-label {
        .ant-form-item-required {
          p {
            br {
              display: none;
            }
          }
        }
      }
    }
  }
}
