$textSize: 12px;
$inputHeight: 36px;
$labelHeight: 36px;

.form {
  .property-value {
    color: #595959;
    font-weight: 600;
    font-size: 12px;
    /*     line-height: $inputHeight; */
    word-wrap: break-word;
    word-break: break-all;
  }

  :global {
    .ant-form-item {
      margin-bottom: 0px;

      input {
        border: 1px solid #818181;
        border-radius: 6px;
        font-size: $textSize;
        height: 28px;
        padding: 0 10px;
      }
      label {
        color: #818181;
        font-size: $textSize;
        /* line-height: $labelHeight; */
        height: $labelHeight;
        margin-right: 1em;
      }
      .ant-select-selector {
        border: 1px solid #818181;
        border-radius: 6px;
        font-size: $textSize;
        input {
          padding: 0;
        }
      }
    }
  }
}
