.actions {
  height: 35px;
  border-bottom: 1px solid rgb(240, 240, 240);
  .button-enable {
    color: #595959;
  }
  :global {
    .ant-popover-inner-content {
      padding: 0 !important;
    }
  }
}
.moveto-tree {
  :global {
    .ant-tree-node-content-wrapper {
      width: 100%;
    }
    .ant-tree-treenode {
      width: 100%;
    }
    .ant-tree-node-selected {
      background-color: #1890ff !important;
      color: white;
    }
    .moveto-custom-title {
      display: flex;
      align-items: center;
      .node-icon {
        width: 30px;
      }
      .node-name {
        flex: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
}
.moveto-tree-wrapper {
  max-height: 400px;
  overflow: auto;
  padding: 10px;
  :global {
    .ambiguous-dest-part {
      margin-left: -10px;
      margin-right: -10px;
      border-top: 1px solid #f1f1f1;
      padding: 10px 18px 0;
      > h4 {
        font-size: 14px;
        font-weight: normal;
        height: 24px;
        line-height: 24px;
        color: rgba(0, 0, 0, 0.65);
      }
      .folder-option {
        margin-left: 16px;
        overflow: hidden;
        .ant-checkbox-wrapper {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
}
.moveto-tree-modal {
  border-radius: 8px;
  :global {
    .ant-modal-body {
      padding: 0;
    }
    .ant-modal-content {
      border-radius: 8px;
      overflow: hidden;
    }
    .ant-modal-header {
      .ant-modal-title {
        color: #003262;
        font-size: 14px;
        font-weight: bold;
      }
    }
  }
}
.moveto-tree-footer {
  :global {
    .footer-cancel {
      color: #595959;
    }
    .footer-ok {
      border-radius: 6px;
      height: 28px;
      padding: 0 10px;
    }
  }
}

.move-step-two-modal {
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 6px;
  overflow: hidden;
  .ok-button {
    background-color: #1890ff;
    border-radius: 6px;
  }
  .cancel-button {
    font-size: 14px;
    font-weight: 600;
    color: #595959;
  }
  .title {
    color: #003262;
    font-weight: 600;
    font-size: 14px;
  }
  .sub-title {
    font-size: 14px;
    color: #595959;
    margin-left: 10px;
  }
  .file-name {
    font-size: 14px;
    font-weight: 600;
    color: #595959;
    margin-left: 10px;
  }
  .exclamation {
    color: #ffc118;
    font-size: 16px;
  }
  .ul {
    list-style-type: none;
    margin-left: 10px;
    margin-bottom: 0;
  }
}

.panelCard {
  width: 700px;
  height: 600px;
  display: flex;
  flex-direction: column;
  :global {
    .ant-card-body {
      padding: 0;
      flex: 1;
      overflow: hidden;
      border: none;
    }
  }
}