.error-modal {
  :global {
    .ant-modal-title {
      color: #003262;
      margin: 0px;
    }
    .ant-modal-content {
      border-radius: 6px;
      overflow: hidden;
    }
  }
  .content {
    margin-left: 20px;

    .description {
      color: #595959;
    }
    .ul {
      list-style-type: none;
      color: #ff6d72;
      padding-left: 0;

      .li {
        max-width: 350px;
        white-space: pre;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }
}
