
.table_wrapper {
    :global {
        .ant-table-tbody {
            .ant-table-row {
                .ant-table-cell {
                    word-break: break-all;
                }
               
            }
        }
    }
}

.table_wrapper {
    :global {
        .ant-table-tbody {
            .ant-table-row {
                .ant-table-cell {
                    .ant-btn-primary {
                        padding: 0px;
                        width: 73px;
                    }
                }
               
            }
        }
    }
}
