.pageHeader {
  padding: 0 !important;
  display: inline-block;
  font-weight: bold;
  max-width: 100%;
}

.dropdown {
  font-size: 12px;
  color: #595959;
  font-weight: 600;
}

.last-updated {
  font-size: 12px;
  color: #818181;
  font-style: italic;
}

.project {
  font-size: 12px;
  color: #595959;
  margin-top: -3px;
  margin-bottom: 0px;
  span {
    margin-left: 6px;
    font-size: 12px;
    font-weight: 600;
    color: #003262;
  }
}

.createdTime {
  font-size: 12px;
  color: #595959;
}

.download-button {
  color: #595959;
  font-size: 12px;
  padding-left: 0;
}

.toolTip-div {
  margin-top: -4px;
  :global {
    span {
      font-weight: bold;
      max-width: 100%;
      display: inline-block;
      vertical-align: bottom;
      overflow: hidden;
      text-overflow: ellipsis;
      color: #003262;
      font-size: 20px;
      text-overflow: ellipsis;
    }
  }
}

.no-toolTip-div {
  margin-top: -4px;
  :global {
    span {
      font-weight: bold;
      max-width: 100%;
      display: inline-block;
      vertical-align: bottom;
      overflow: hidden;
      text-overflow: ellipsis;
      color: #003262;
      font-size: 20px;
      text-overflow: ellipsis;
    }
  }
}
