.stats {
  padding-bottom: 22px;
  display: flex;
}

.userStats {
  display: flex;
  justify-content: center;
}

.antStatistic {
  width: 100%;
}

.card {
  width: 188px;
  background-color: #ffffff;
  box-shadow: 0px 1px 6px #00000020;
  border-radius: 6px !important;
  opacity: 1;
  margin: 6px 8px !important;
  padding: 6px 10px !important;
  :global {
    .ant-row {
      flex-wrap: nowrap;
    }
    .ant-card-body {
      padding: 6px 10px !important;
    }
  }
}

.icon {
  color: #1c5388 !important;
  font-size: 24px;
  opacity: 1;
}

.fileNumber {
  color: #1c5388;
  font-size: 18px;
  font-weight: bold;
}

.fileFont {
  color: #595959;
  font-size: 14px;
  white-space: nowrap;
  margin-top: -8px;
}

.iconColumn {
  display: flex !important;
  align-items: center !important;
  margin-right: 10px;
}

.fileStreamIcon {
  color: #1c5388;
  height: 11.56px;
  width: 17.82px;
  font-size: 16px;
  margin-left: 2%;
  margin-right: 1%;
}

.fileName {
  flex: 1;
  font-size: 14px;
  font-weight: 600;
  color: #595959;
  margin-right: 6px;
  overflow: hidden;
  max-width: 500px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.firstSlash {
  font-size: 14px;
  color: #a5b0b6;
  margin-right: 6px;
}

.userName {
  font-size: 14px;
  color: #a5b0b6;
  margin-right: 6px;
  font-style: italic;
}

.secondSlash {
  font-size: 14px;
  color: #a5b0b6;
  margin-right: 6px;
}

.time {
  font-size: 14px;
  color: #a5b0b6;
  margin-right: 6px;
  font-style: italic;
}
