.csv-table-wrapper {
  max-height: 550px;
  overflow: auto;

  :global {
    .ant-pagination {
      margin-top: 10px;
    }
    table {
      width: 100%;
      font-size: 14px;
      tr {
        font-weight: normal;
        position: relative;
        border-top: 0;
        border-bottom: 1px solid #f1f1f1;
        th {
          height: 50px;
          line-height: 24px;
          padding: 13px 24px;
          border: 0;
          color: rgba(0, 0, 0, 0.3);
        }
        td {
          padding: 0 24px;
          height: 34px;
          line-height: 34px;
          border: 0;
          color: #595959;
        }
      }
    }
  }
}
.enlarged_csv_model {
  :global {
    .ant-modal-body {
      padding: 0;
    }
  }
}
