@import '../../Styles/includeMedia.scss';

.container {
  max-width: 560px;
  margin: 30px auto;
}
.layout_wrapper {
  overflow-y: hidden;
}

.forgot {
  @include media('>576px') {
    float: right;
    display: inline;
  }
  display: block;
}
.title {
  text-align: center;
}
@keyframes pulse {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes pulse {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.pulse_item {
  animation: pulse 2s infinite;
}
.toggle {
  background-color: #1b9cd0;
  padding: 10px 5px;
  border-radius: 5px;
  color: white !important;
  position: fixed;
  margin-left: -40px;
  z-index: 9;
  top: 50vh;
  transform: translateY(-50%);
}

.content {
  padding: 20px 20px 20px 35px;
  margin-left: 0;
  transition: all 0.4s ease;
  min-height: 93vh !important;
}

.contentOpen {
  padding: 20px 20px 20px 35px;
  margin-left: 400px;
  transition: all 0.4s ease;
  min-height: 93vh !important;
}

.left_sider {
  overflow: auto;
  height: 100vh;
  width: 50px !important;
  max-width: 50px !important;
  min-width: 50px !important;
  position: fixed !important;
  z-index: 10;
  background-color: #003262 !important;
}

.download_list {
  max-height: calc((100vh - 128px - 90px) / 2);
  overflow-y: scroll;
}

.copy_list {
  max-height: calc((100vh - 128px - 90px) / 2);
  overflow-y: scroll;
}

.filePanel {
  padding: 10px;
}

.fileCollapse {
  position: fixed;
  right: -400px;
  bottom: 8px;
  min-width: 200px;
  max-width: 350px;
  visibility: hidden;
  transition: all 0.4s;
  z-index: 101;
  &.active {
    right: 90px;
    visibility: visible;
  }
}

.footer {
  padding: 20px 50px 10px !important;
  color: rgba(0, 0, 0, 0.5) !important;
  line-height: 1.5;
  text-align: center;
  @include media('>desktop') {
    text-align: right;
  }
}

.tou {
  padding-left: 5px !important;
  padding-top: 0 !important;
  // margin-top: -3px;
}

.menu {
  // display: block !important;
  @include media('>desktop') {
    float: left;
    // display: flex !important;
  }
}
.copyright {
  @include media('<=desktop') {
    display: block;
  }
}

.fileStatusTitle {
  font-size: 14px;
  color: #1c5388;
  font-weight: bold;
}

.clearSessionHistory {
  font-size: 14px;
  color: #595959;
  font-weight: normal;
}

.closeIcon {
  font-size: 13px;
  color: #595959;
  margin-right: 12px;
}

.panelCard {
  width: 670px;
  height: 283px;
  display: flex;
  flex-direction: column;
  :global {
    .ant-card-body {
      padding: 0;
      flex: 1;
      overflow: hidden;
    }
  }
}

.tabTitle {
  color: #1c5388;
}
.tab {
  overflow: hidden;
  height: 100%;
  :global {
    .ant-tabs-content {
      height: 100%;
      overflow-y: auto !important;
    }
    .ant-list-empty-text {
      padding: 0;
    }
    .ant-list-item {
      padding: 6px 13px !important;
    }
    .ant-tabs-tab {
      padding: 11px 24px !important;
      text-align: right !important;
    }
    .ant-tabs-bar {
      .ant-tabs-tab-active {
        background-color: #e6f5ff;
      }
    }
  }
}

.icons {
  width: 18px;
  height: 12px;
  color: #1c5388 !important;
  margin-right: 2%;
}
.icons-fail {
  width: 18px;
  height: 12px;
  color: #ff4d4f !important;
  margin-right: 2%;
}
:global {
  .ant-layout-header {
    .ant-popover-inner {
      height: 0px !important;
      .ant-popover-inner-content {
        padding: 0;
      }
    }
  }
}

.slash {
  margin-left: 2%;
  margin-right: 2%;
  color: #818181;
}

.fileName {
}

.fileDate {
  color: #818181;
}

.listHeader {
  font-size: 14px;
  color: #595959;
}

.badge {
  padding: 0px 26px 0 22px !important;
  position: relative !important;
  width: 60px !important;
  height: 50px !important;
  line-height: 48px !important;
  overflow: hidden !important;
  vertical-align: middle !important;
}

.badge {
  :global {
    .anticon {
      vertical-align: middle;
    }
    .ant-badge-dot {
      top: 32px;
      right: 25px;
      height: 10px;
      width: 10px;
    }
  }
}

.user_management {
  :global {
    .ant-badge {
      .ant-badge-status-error {
        top: 37px;
        right: 156px;
        height: 8px;
        width: 8px;
      }
    }
  }
}

.tab {
  :global {
    .ant-empty {
      p {
        display: none;
      }
    }
  }
}

.uploaded_list {
  :global {
    .ant-empty::after {
      content: 'Files you upload during this session will appear here.';
    }
  }
}

.progress_list {
  :global {
    .ant-empty::after {
      content: 'There are no files currently processing.';
    }
  }
}

.downloaded_list {
  :global {
    .ant-empty::after {
      content: 'Files you download during this session will appear here.';
    }
  }
}

.approved_list {
  :global {
    .ant-empty::after {
      content: 'Files you copy during this session will appear here.';
    }
  }
}

.deleted_list {
  :global {
    .ant-empty::after {
      content: 'Files you delete during this session will appear here.';
    }
  }
}
