.tags-container {
  position: absolute;
  bottom: 30px;
  right: 0px;
  width: max-content;
  :global {
    .ant-tag {
      margin-left: 8px;
      margin-right: 0 !important;
    }
  }
}

.statistics {
  margin-left: 40px;
  line-height: 32px;
  .statistics-title {
    color: #818181;
    font-size: 14px;
  }

  .statistics-value {
    color: #003262;
    font-weight: bold;
    margin-left: 10px;
    font-size: 16px;
  }
}

