.dataset-card {
  :global {
    .ant-card {
      background: #ffffff;
      box-shadow: 0px 1px 7px #0000001a;
      border-radius: 6px;
      margin-bottom: 20px;
      position: relative;
    }
    .ant-card-body {
      padding-top: 18px !important;
    }
  }
}

.left {
    float: left;
    max-width: calc(100% - 240px);
    .dataset-card-note {
      font-size: 12px;
      color: #818181;
      margin-top: -4px;
      b {
        color: #595959;
      }
    }
    margin-bottom: 20px;
  }

  .right {
    position: absolute;
    right: 24px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    .statistics-container {
      display: flex;
      justify-content: flex-end;
      .statistics {
        margin-left: 40px;
        line-height: 32px;
        .statistics-title {
          color: #818181;
          font-size: 14px;
        }

        .statistics-value {
          color: #003262;
          font-weight: bold;
          margin-left: 10px;
          font-size: 16px;
        }
      }
    }

    .tags-container {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 25px;
      margin-right: 20px;
      :global {
        .ant-tag {
          margin-left: 8px;
          margin-right: 0 !important;
        }
      }
    }
  }

  .expand {
    position: absolute;
    bottom: -15px;
    right: 20px;
    font-size: 20px;
    cursor: pointer;
  }

  .description {
    width: 90%;
    max-width: 830px;
    color: #818181;
    font-size: 12px;
    margin-top: 10px;
  }
