.toggle {
  background-color: #1b9cd0;
  padding: 10px 5px;
  border-radius: 5px;
  color: white !important;
  position: fixed;
  margin-left: -40px;
  z-index: 9;
  top: 50vh;
  transform: translateY(-50%);
}
.content {
  padding: 20px 20px 20px 35px;
  margin-left: 0;
  transition: all 0.4s ease;
  min-height: 93vh !important;
}
.contentOpen {
  padding: 20px 20px 20px 35px;
  margin-left: 400px;
  transition: all 0.4s ease;
  min-height: 93vh !important;
}
.tab {
  :global {
    .ant-tabs-nav-container {
      .ant-tabs-tab {
        margin: 0px 80px 0px 0px !important;
      }
    }
  }
}

.warning-modal {
  :global {
    .ant-modal-content {
      width: 480px !important;
      box-shadow: 0px 3px 6px #00000029 !important;
      border-radius: 6px !important;
      overflow: hidden !important;
      button {
        height: 30px;
        border-radius: 6px;
      }
    }
  }
}
