.not-error {
  border: none !important;
  padding: 0 !important;
  margin: 5px 13px 0px 13px !important;
  .title {
    position: relative;
    svg {
      color: #003262;
    }
    .file-name {
      color: #595959;
      font-weight: 600;
      font-size: 14px;
      margin-left: 10px;
      position: relative;
      display: inline-block;
      div {
        max-width: 300px;
        overflow: hidden;
        /* "overflow" value must be different from "visible" */
        text-overflow: ellipsis;
        direction: rtl;
        position: relative;
        top: 5px;
        height: 22px;
        white-space: nowrap;
      }
    }
    .status {
      color: #818181;
      font-weight: normal;
    }
  }
}

.error {
  border: none !important;
  padding: 0 !important;
  margin: 5px 13px 0px 13px !important;
  .title {
    .file-name {
      color: #ff6d72;
      font-weight: 600;
      font-size: 14px;
      margin-left: 10px;

      position: relative;
      display: inline-block;
      div {
        max-width: 300px;
        overflow: hidden;
        /* "overflow" value must be different from "visible" */
        text-overflow: ellipsis;
        direction: rtl;
        position: relative;
        top: 5px;
        height: 22px;
      }
    }
    .status {
      color: #ff6d72;
      font-weight: normal;
    }

    .icon {
      color: #ff6d72;
    }
  }
}
