.upperMenu {
  :global {
    background-color: #003262 !important;
    position: fixed !important;
    top: 120px;
    width: 51px;
    max-width: 51px;
    min-width: 51px;
    margin-top: 22px;
    .ant-menu-item {
      left: -14px !important;

      .anticon {
        color: #f0f0f0 !important;
      }
      &.ant-menu-item-selected {
        background-color: transparent !important;
        .anticon {
          color: #ffffff !important;
        }
      }
    }
  }
}

.pageHeader {
  :global {
    .ant-page-header-heading {
      align-items: flex-start;
      margin-top: -7px;
    }
  }
}

.tab {
  background-color: #ffffff;
}

.tab {
  :global {
    .ant-tabs-nav-container {
      .ant-tabs-tab {
        margin: 0px 80px 0px 0px !important;
      }
    }
  }
}

.tab {
  :global {
    .ant-tabs-nav {
      margin-left: 26px;
    }
  }
}

.tab {
  :global {
    .ant-table-wrapper {
      margin-top: 0px !important;
      padding: 0px 10px;
    }
  }
}

.ant-card-bordered {
  :global {
    .ant-card-body {
      padding: 5px 0px !important;
    }
  }
}

.ant-layout {
  margin-left: 0px !important;
}

