.reset_pop_up {
  border-radius: 8px;
  overflow: hidden;
  width: 400px !important;
  :global {
    .ant-modal-header {
      padding: 0;
    }
    .ant-modal-body {
      padding: 0;
    }
    .ant-modal-content {
      border-radius: 8px;
    }
  }
}
